/**
#### GENERAL
*/
body {
    font-size: 17px;
}

a:hover,
button:hover
{
    text-decoration: none !important;
    opacity: 0.9;
}

/**
#### Breeze
*/

.nav-link.active {
    border-bottom: 2px solid #818cf8;
}

/**
#### BUTTONS
*/

.btn {
    background: lightgrey;
    border-radius: 5px;
    font-weight: bold;
    padding: 6px 12px;
}

.btn.block {
    width: 100%;
    font-size: 17px;
    margin: 15px 0;
}

.btn-link {
    background: unset;
    padding: 0;
    border: none;
}

.secondary-button {
    background: dimgrey;
    color: white;
}

.primary-button {
    background: #6675ff;
    color: white;
}

.primary-button:hover,
.secondary-button:hover
{
    color: white;
    opacity: 0.9;
}

/**
#### LAYOUT
*/
.grid-two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 25px;
}
/**
#### HEADER
*/

#page-description {
    font-size: 18px;
    margin-bottom: 20px;
}

.main-header #header-buttons {
    display: flex;
    justify-content: flex-end;
}

/**
#### FORMS
*/

label .req {
    color: red;
    font-weight: bold;
}

.error-form-container {
    padding: 10px 15px;
    background: #6675ff;
    color: white;
    border-radius: 10px;
    margin-bottom: 25px;
}

.error-form-container .info {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.error-form-list {
    list-style: circle;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 5px;
}

.dashboardcode-bsmultiselect .badge {
    background: lightgrey;
    font-size: 16px;
    margin-right: 8px;
    padding: 5px 10px !important;
}

.dashboardcode-bsmultiselect .badge span {
    margin-right: 5px;
}
/**
#### TABLES
*/

.app-table {
    margin-bottom: 20px !important;
}

.app-table td, .app-table th {
    vertical-align: middle;
}

/**
#### DATATABLES
*/

.dataTables_wrapper {
    margin: 20px 0;
}

main .dataTables_wrapper .dataTables_filter input, main .dataTables_wrapper .dataTables_length select {
    border-radius: 5px;
    border: 2px solid #818cf8;
    margin-left: 10px;
}

main .dataTables_wrapper .dataTables_length select {
    margin-right: 10px;
}

main .dataTables_wrapper .dataTables_filter input:focus, main .dataTables_wrapper .dataTables_length select:focus {
    outline: none;
}

.dataTables_paginate .paginate_button {
    border: none !important;
    padding: 5px 10px !important;
    margin: 0 5px;
}

.paginate_button:not(.disabled):hover {
    background: #6675ff !important;
    opacity: 0.9;
}

main .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: white !important;
    background: #6675ff !important;
}

@media only screen and (max-width: 768px) {
    /**
    #### Breeze
    */
    .nav-link {
        margin-bottom: 2px;
    }
}