/**
#### Breeze
*/

.nav-link.active {
    border-bottom: 2px solid #818cf8;
}

/**
#### BUTTONS
*/

.btn {
    background: lightgrey;
    border-radius: 5px;
    font-weight: bold;
    padding: 6px 12px;
}

.btn.block {
    width: 100%;
    font-size: 17px;
    margin: 15px 0;
}

.primary-button {
    background: #818cf8;
    color: white;
}

.primary-button:hover {
    color: white;
    opacity: 0.9;
}

/**
#### HEADER
*/

#page-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.main-header #header-buttons {
    display: flex;
    justify-content: flex-end;
}

/**
#### FORMS
*/

label .req {
    color: red;
    font-weight: bold;
}

.error-form-container {
    padding: 10px 15px;
    background: #818cf8;
    color: white;
    border-radius: 10px;
    margin-bottom: 25px;
}

.error-form-container .info {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.error-form-list {
    list-style: circle;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 5px;
}

/**
#### TABLES
*/

.app-table {
    margin-bottom: 20px !important;
}

/**
#### DATATABLES
*/

.dataTables_wrapper {
    margin: 20px 0;
}

main .dataTables_wrapper .dataTables_filter input, main .dataTables_wrapper .dataTables_length select {
    border-radius: 5px;
    border: 2px solid #818cf8;
    margin-left: 10px;
}

main .dataTables_wrapper .dataTables_length select {
    margin-right: 10px;
}

main .dataTables_wrapper .dataTables_filter input:focus, main .dataTables_wrapper .dataTables_length select:focus {
    outline: none;
}

.dataTables_paginate .paginate_button {
    border: none !important;
    padding: 5px 10px !important;
    margin: 0 5px;
}

.paginate_button:not(.disabled):hover {
    background: #818cf8 !important;
    opacity: 0.9;
}

main .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: white !important;
    background: #818cf8 !important;
}

@media only screen and (max-width: 768px) {
    /**
    #### Breeze
    */
    .nav-link {
        margin-bottom: 2px;
    }
}